@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #fefaf9;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
  top: 10vh;
}

* {
  font-family: "PT Serif", serif;
}

.navbar {
  background-color: #fbf1e4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo-navbar {
  margin-left: 5%;
}

.active span {
  color: #bd9b77;
  -webkit-text-decoration: underline #bd9b77;
          text-decoration: underline #bd9b77;
}

.navbar__text--size {
  font-size: 1.4rem;
}

@media screen and (max-width: 991px) {
  .d-hidden {
    display: none !important;
  }
  .active span {
    padding: 0;
    background-color: #fbf1e4;
    color: black;
  }
  .navbar-nav {
    width: 100vw;
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .d-hidden {
    display: none !important;
  }
  .active span {
    padding: 0;
    background-color: #fbf1e4;
    color: black;
  }
  .navbar-nav {
    width: 100vw;
    text-align: center;
  }
}
@media screen and (max-width: 1353px) {
  .navbar__text--size {
    font-size: 1.2rem;
  }
  .active span {
    padding: 100% 5px 70%;
    background-color: #bd9b77;
    color: white;
  }
}
@media screen and (max-width: 1197px) {
  .navbar__text--size {
    font-size: 1rem;
  }
  .active span {
    padding: 100% 5px 82%;
    background-color: #bd9b77;
    color: white;
  }
}
@media screen and (max-width: 1041px) {
  .navbar__text--size {
    font-size: 0.8rem;
  }
  .active span {
    padding: 120% 5px 100%;
    background-color: #bd9b77;
    color: white;
  }
}
footer {
  background-color: #2a2a2a;
}

.section__title--container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__title--container .section__title {
  margin-top: 1.2rem;
  margin-bottom: 0.2rem;
  font-weight: 800;
}
.section__title--container .section__subtitle {
  font-size: 1rem;
}

.btn__soledad {
  width: 20vw;
  text-transform: uppercase;
  background-color: #bd9b77;
  color: #f3f3f3;
}
.btn__soledad:hover {
  border: 0.3px solid #3c3c3c;
}
.btn__soledad--card {
  text-transform: uppercase;
  background-color: #bd9b77;
  color: #f3f3f3;
}

@media screen and (max-width: 991px) {
  .home div .btn__soledad {
    width: 50vw;
  }
}
@media screen and (max-width: 448px) {
  .home div .btn__soledad {
    width: 30vw;
    font-size: 0.7rem;
  }
}
.home {
  width: 100vw;
  height: 50vw;
  background-image: url(../../img/home/bg_home.png);
  background-size: 90%;
  background-repeat: no-repeat;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  align-items: center;
}
.home div {
  margin-right: 10vw;
}
.home div .home__titulo {
  font-size: 2.6rem;
}
.home div .home__slogan {
  font-size: 1.6rem;
  font-weight: lighter;
}

@media screen and (max-width: 991px) {
  .home {
    background-image: none;
    justify-content: center;
  }
  .home div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
  }
}
@media screen and (max-width: 583px) {
  .home div .home__titulo {
    font-size: 2rem;
  }
  .home div .home__slogan {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 448px) {
  .home div .home__titulo {
    font-size: 1.6rem;
  }
  .home div .home__slogan {
    font-size: 1rem;
  }
}
@media screen and (max-width: 359px) {
  .home div .home__titulo {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .home div .home__titulo:first-child {
    display: none;
  }
  .home div .home__slogan {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
}
.about {
  background-color: #fbf1e4;
}

.about__main--container {
  display: flex;
  justify-content: space-evenly;
}
.about__main--container .about__text--container {
  width: 30vw;
  padding-bottom: 3rem;
}
.about__main--container .about__image--container {
  width: 15vw;
}
.about__main--container .about__image--container img {
  width: 100%;
}

.servicios__main--container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 10rem 3rem;
}

.clientes {
  background-color: #fbf1e4;
}

.cliente__images--container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 10rem 3rem;
}

.contactos__main--container {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-around;
}
.contactos__main--container .contactos__imagen-container {
  width: 30vw;
}
.contactos__main--container .contactos__imagen-container img {
  width: 100%;
}
.contactos__main--container .contactos__datos--container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contactos__main--container .contactos__datos--container h5 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #bd9b77;
}
.contactos__main--container .contactos__datos--container h6 {
  font-size: 2rem;
  font-weight: 700;
}

.redes__main--container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.redes__main--container svg {
  margin: 1rem;
}/*# sourceMappingURL=style.css.map */